<!--<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>-->
<ion-view view-title="Playlists">
<ion-view title="Login">
  <ion-content padding="true" scroll="false" class="has-header">
    <form>
      <button class="button button-positive button-block">Facebook</button>
      <button class="button button-calm button-block">Twitter</button>
      <ion-list></ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button class="button button-stable button-block">Log in</button>
      <a href="#/signup" class="button button-positive button-clear button-block">Or create an account</a>
    </form>
  </ion-content>
</ion-view>