<h3>Preguntas frecuentes</h3>
<section data-ng-controller="FaqsController" data-ng-init="find()">
    <div class="list-group">
        <a data-ng-repeat="faq in faqs" data-ng-href="#!/faqs/{{faq._id}}" class="list-group-item">
            <div class="well">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-question"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" data-ng-bind="faq.title"></h4>
                        <div ng-bind-html="faq.content"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <h4 class="alert alert-purple text-center pv-lg" data-ng-if="faqs.$resolved && !faqs.length">
        No hay preguntas frecuentes, deseas <a href="/#!/faqs/create" class="text-yellow">crear una</a>?
    </h4>
</section>
