<section data-ng-controller="FaqsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="faq.title"></h1>
	</div>
	<div ng-bind-html="faq.content"></div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == faq.user._id))">
		<a class="btn btn-primary" href="/#!/faqs/{{faq._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="faq.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="faq.user.displayName"></span>
		</em>
	</small>
</section>
