<div class="row">
    <div class="col-md-12">
        <section data-ng-controller="IssuesController">
            <div class="page-header">
                <h1>Nuevo reporte</h1>
            </div>
            <div class="col-md-12">
                <form class="form-horizontal" data-ng-submit="create()" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="title">Titulo</label>
                            <div class="controls">
                                <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="title">Foto</label>
                            <div class="controls">
                                <input type="file"  fileread="image"  data-ng-model="image" id="image" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="title">Descripción</label>
                            <div class="controls">
                                <textarea name="description" data-ng-model="description" id="description" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default">
                            <i ng-show="formBusy" class="fa fa-cog fa-spin"></i>
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</div>
