<!--
<ion-view view-title="Playlists">
  <ion-content>
      <wizard on-finish="finishedWizard()">
          <wz-step title="Starting">
              <h1>This is the first step</h1>
              <p>Here you can use whatever you want. You can use other directives, binding, etc.</p>
              <input type="submit" wz-next value="Continue" />
          </wz-step>
          <wz-step title="Continuing">
              <h1>Continuing</h1>
              <p>You have continued here!</p>
              <input type="submit" wz-next value="Go on" />
          </wz-step>
          <wz-step title="More steps">
              <p>Even more steps!!</p>
              <input type="submit" wz-next value="Finish now" />
          </wz-step>
      </wizard>
      &lt;!&ndash;<ion-list>
        <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
          {{playlist.title}}
        </ion-item>
      </ion-list>&ndash;&gt;
  </ion-content>
</ion-view>-->

<ion-view view-title="Playlists">
    <ion-content>
        <wizard on-finish="finishedWizard()">
            <wz-step title="Starting">
                <h1>This is the first step</h1>
                <p>Here you can use whatever you want. You can use other directives, binding, etc.</p>
                <input type="submit" wz-next value="Continue" />
            </wz-step>
            <wz-step title="Continuing">
                <h1>Continuing</h1>
                <p>You have continued here!</p>
                <input type="submit" wz-next value="Go on" />
            </wz-step>
            <wz-step title="More steps">
                <p>Even more steps!!</p>
                <input type="submit" wz-next value="Finish now" />
            </wz-step>
        </wizard>
        <!--<ion-list>
          <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
            {{playlist.title}}
          </ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>