<h3>Articles</h3>
<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="list-group">
		<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="article.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<p class="list-group-item-text" data-ng-bind="article.content"></p>
		</a>
	</div>
	<h4 class="alert alert-purple text-center pv-lg" data-ng-if="articles.$resolved && !articles.length">
		No articles yet, why don't you <a href="/#!/articles/create" class="text-yellow">create one</a>?
	</h4>
</section>