<section data-ng-controller="ShopsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Shops</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="shop in shops" data-ng-href="#!/shops/{{shop._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="shop.created | date:'medium'"></span>
				by
				<span data-ng-bind="shop.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="shop.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!shops.$resolved || shops.length">
    	No Shops yet, why don't you <a href="/#!/shops/create">create one</a>?
    </div>
</section>