<section data-ng-controller="PetgenresController" data-ng-init="find()">
    <div class="page-header">
        <h1>Petgenres</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="petgenre in petgenres" data-ng-href="#!/petgenres/{{petgenre._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="petgenre.created | date:'medium'"></span>
				by
				<span data-ng-bind="petgenre.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="petgenre.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!petgenres.$resolved || petgenres.length">
    	No Petgenres yet, why don't you <a href="/#!/petgenres/create">create one</a>?
    </div>
</section>