<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=1414293935539684&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-page" data-href="https://www.facebook.com/mascoterosapp" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>

<div class="fb-page" data-href="https://www.facebook.com/mascoterosapp"
     data-width="480" data-hide-cover="false" data-show-facepile="false"
     data-show-posts="true"></div>

<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/MascoterosApp" data-widget-id="581851574496006144">Tweets por el @MascoterosApp.</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
