<!-- START Off Sidebar (right)-->
<nav>
   <tabset justified="true">
      <tab>
         <tab-heading>
            <em class="icon-drawer fa-lg"> Alertas</em>
         </tab-heading>
         <div ng-include="'/modules/core/views/partials/offsidebar-tab1.html'"></div>
      </tab>
      <tab>
         <tab-heading>
            <em class="icon-feed fa-lg"> Reportar</em>
         </tab-heading>
         <div>
            <div ng-include="'/modules/issues/views/create-issue.client.view.html'"></div>
         </div>
      </tab>
   </tabset>
</nav>
<!-- END Off Sidebar (right)-->
