<header class="header landing" data-ng-controller="HomeController" data-ng-init="checkAuthentication()" ng-cloak>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="content">
          <div class="pull-middle">
            <h1 class="page-header">La nueva forma de cuidar a tu mascota, gratis!</h1>
            <p class="lead">Ingresá con tus redes sociales, añadí tu mascota y listo.</p>
            <a href="/auth/facebook" class="undecorated-link">
              <img src="/modules/users/img/buttons/facebook.png" data-wow-offset="15" data-wow-duration="1.2s" class="wow zoomIn animated">
            </a>
            <a href="/auth/twitter" class="undecorated-link">
              <img src="/modules/users/img/buttons/twitter.png" data-wow-offset="15" data-wow-duration="1.2s" class="wow zoomIn animated">
            </a>
            <a href="/auth/google" class="undecorated-link">
              <img src="/modules/users/img/buttons/google.png" data-wow-offset="15" data-wow-duration="1.2s" class="wow zoomIn animated">
            </a>
            <!--<button class="btn btn-primary btn-large"><i class="fa fa-facebook"></i> Facebook</button>
            <button class="btn btn-primary btn-large"><i class="fa fa-facebook"></i> Twitter</button>-->
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center mt-100 mb-100">
        <div class="phone">
          <img class="img-responsive img-rounded" src="/modules/core/img/cel1.png" data-wow-offset="15" data-wow-duration="1.2s" class="wow zoomIn animated">
        </div>
      </div>
    </div>
  </div>
</header>
<!-- START DOWNLOAD-->
<section id="download" class="download landing">
  <div class="container">
    <h2 data-wow-offset="0" data-wow-duration="1.2s" class="wow fadeInDown animated">Bajate la app mascotera!</h2>
    <div data-wow-offset="0" data-wow-duration="1.2s" class="wow fadeInUp animated">
      <a href="" class="btn btn-lg btn-primary">
        <em class="fa fa-apple"></em> Itunes Store</a>
      <a href="" class="btn btn-lg btn-primary">
        <em class="fa fa-android"></em> Play Store</a>
    </div>
    <div data-wow-offset="0" data-wow-duration="1.2s" class="wow fadeInUp animated">
      (Proximamente)
    </div>
  </div>
</section>
<!-- END DOWNLOAD-->
<section class="section landing">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center mt-100 mb-100">
        <div class="phone">
          <img class="img-responsive img-rounded" src="/modules/core/img/cel2.png" data-wow-offset="15" data-wow-duration="1.2s" class="wow fadeInDown">
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="content">
          <div class="pull-middle">
            <h2 class="h1 page-header">Descubrí la nueva forma de cuidar a tu mascota.</h2>
            <ul class="media-list">
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-cloud icon text-success"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Id para tu mascota.</h3>
                  <p>Registrate, imprimí y listo. Desde un celular escanea el codigo QR y podes ver el perfil de tu mascota, totalmente gratis.</p>
                </div>
              </li>
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-lock icon text-success"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Privacidad.</h3>
                  <p>Si no queres que tus datos sean publicos, podés activar el perfíl cuando lo necesites.(premium)</p>
                </div>
              </li>
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-user icon text-success"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Geo Localization.</h3>
                  <p>Si tu perro es escaneado te enviamos un alerta con la posición.</p>
                </div>
              </li>
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-user icon text-success"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Directorio.</h3>
                  <p>Buscas entrenadores, veterinarias, amigos, eventos... encontralo acá. </p>
                </div>
              </li>
              <li class="media">
                <a class="media-left" href="#">
                  <span class="fa fa-user icon text-success"></span>
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Y más.</h3>
                  <p>Estamos en desarrollo constantemente, para ofrecerte siempre algo nuevo para vos y tus mascotas. </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
