<section data-ng-controller="TrainersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Trainers</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="trainer in trainers" data-ng-href="#!/trainers/{{trainer._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="trainer.created | date:'medium'"></span>
				by
				<span data-ng-bind="trainer.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="trainer.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!trainers.$resolved || trainers.length">
    	No Trainers yet, why don't you <a href="/#!/trainers/create">create one</a>?
    </div>
</section>