.pet-avatar {
    width: 100%;
    height: auto;
}

.pet-avatar i {
    color: white;
    line-height: 15rem;
    font-size: 15rem;
    background-color: #23b7e5;
    padding: 15px;
}

.pet-actions-container {
    width: 100%;
}

.pet-actions-container button {
    width: 100%;
    margin-bottom: 20px;
}

.angular-google-map-container { height: 400px; }
