section.a {
    clear: both;
    border: 0.05cm gray dashed;
    height: 4cm;
    width: 6.4cm;
    margin-bottom: 0.5cm;
}
.id-front, .id-back{
    width: 2.8cm;
    height: 3.6cm;
    background-color: #76c5f0;
    border: 0.2cm solid black;
    float: left;
}
.id-front-2, .id-back-2{
    width: 2.8cm;
    height: 3.6cm;
    background-color: #dea5a4;
    border: 0.2cm solid black;
    float: left;
}
.pin {
    height: 0.6cm;
    width: 100%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.pin .circle {
    width: 0.3cm;
    height: 0.3cm;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0.2cm auto 0;
}



.qr {
    width: 100%;
    height: 2cm;
    background-color: white;
    text-align: center;
}

.qr svg {
    height: 2cm;
    width: 2cm;
}

.name {
    width: 100%;
    height: 0.6cm;
    font-size: 0.5cm;
    line-height: 0.8cm;
    font-family: sans-serif;
    vertical-align: middle;
    text-align: center;
    padding: 0.05cm 0 0;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

.page, .tel {
    width: 90%;
    height: 1.5cm;
    font-size: 0.25cm;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: sans-serif;
    line-height: 0.4cm;
}

.page span {
    font-weight: bold;
    text-decoration: underline;
}

.tel {
    font-weight: bold;
}

section.c {
    clear: both;
    border: 0.05cm gray dashed;
    height: 3.2cm;
    width: 4.9cm;
    margin-bottom: 0.5cm;
}

section.c .id-front-2, section.c .id-back-2{
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    width: 2cm;
    height: 2.8cm;
    background-color: #76c5f0;
    border: 0.2cm solid black;
    float: left;
    position: relative;


    /*-webkit-box-sizing: border-box;
    width: 2.37cm;
    height: 3.13cm;*/
}

section.c .id-front-2.female , section.c .id-back-2.female {
    background-color: #dea5a4;
}
section.c .qr-container {
    width: 100%;
    height: 1.5cm;
    background: white;
}
section.c .qr {
    width: 1.5cm;
    height: 1.5cm;
    background-color: transparent;
    text-align: center;
    z-index: 200;
    position: absolute;
    left: 0.25cm;
}

section.c .qr svg {
    height: 1.5cm !important;
    width: 1.5cm !important;
    display: block;
    -webkit-box-sizing: content-box;
}

section.c .qr svg path {
    height: 1.5cm !important;
    width: 1.5cm !important;
    -webkit-box-sizing: content-box;
    display: block;
}

section.c .page, section.c .tel {
    width: 90%;
    height: 1.5cm;
    font-size: 0.25cm;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: sans-serif;
    line-height: 0.4cm;
}

section.c .page span {
    font-weight: bold;
    text-decoration: underline;
}

section.c .name {
    width: 100%;
    height: 0.3cm;
    font-size: 0.3cm;
    line-height: 0.5cm;
    font-family: sans-serif;
    vertical-align: middle;
    text-align: center;
    padding: 0.05cm 0 0;
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 0.2cm;
}

section.c .pet-picture {
    position: absolute;
    width: 2cm;
    height: 1.5cm;
    z-index: 100;
    background-color: white;
}

@media screen {
    #printSection {
        display: none;
    }
}
@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}
